body{
	color: #c34f4f;
	font-family: 'Lato', sans-serif;
	background-color:#413F3F;
}
.container
{
	width:100%;
	background-color:#413F3F;
}
.adminButton
{
  display: inline-block;
  border-radius: 4px;
  background-color: #3286D0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  padding: 10px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left:30px;
}
.adminButton:hover
{
	opacity: 80%;
}
.test
{
	margin-top:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:90px;
	font-size : 48px;
	width:300px;
	height:300px;
	float:left;
	text-align:center;
	color:#413F3F;
	background-color: #FFEFD5;
}
.test:hover
{
	opacity:80%;
}
.translator
{
	margin-top:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	font-size : 48px;
	width:300px;
	height:300px;
	float:left;
	text-align:center;
	color:#413F3F;
	background-color: #FAFAD2;
}
.translator:hover
{
	opacity:80%;
}
.hangman
{
	margin-top:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	font-size : 48px;
	width:300px;
	height:300px;
	float:left;
	text-align:center;
	color:#413F3F;
	background-color: #FFDAB9;
}
.hangman:hover
{
	opacity:80%;
}
.memory
{
	margin-top:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	font-size : 48px;
	width:300px;
	height:300px;
	float:left;
	text-align:center;
	color:#413F3F;
	background-color: #EEE8AA;
	
}
.memory:hover
{
	opacity:80%;
}
span{
	vertical-align: middle;
	display: inline-block;
	margin-top:110px;
}
a
{
	text-decoration: none;
	font-size : 72px;
}