
body{
color: #c34f4f;
font-family: 'Lato', sans-serif;
background-color:#413F3F;
font-size:20px;
}
.container
{
	width:100%;
	background-color:#413F3F;
}
.logo
{
	width: 100%;
	font-size: 36px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	background-color:#FFFFFF;
}
.logo a
{
	text-decoration: none;
}
.adminButton
{
  margin-top:15px;
  background-color: #008B8B;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.adminButton:hover
{
	opacity: 80%;
}
.navigator
{
	width:100%;
	text-align:right;
	background-color:#524F4F;
}
.navigator .loggedUser
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 26px;
	width: 250px;
	height: 40px;
	line-height: 200%;
	color: #ffffff;
	text-decoration: none;
	display: block;
	float: left;
	text-align:left;
}
.content
{
	margin-left:450px;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:40px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	width:50%;
	color:#F2F0F0;
	text-align: center;
}

#timer
{
	width:65%;
	font-family: 'Josefin Sans', sans-serif;
	color:#177C80;
	font-size: 50px;
	text-align: right;
	float:left;
}
.navigator > ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 26px;
	height: 40px;
	line-height: 200%;
	display: inline-block;
}

.navigator > ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

.navigator > ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	text-align:center;
}

